<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="driver" class="com.vishal.ioc.model.Driver">
    <property name="properties">
        <props>
            <prop key="driverClass">com.mysql.jdbc.Driver</prop>
            <prop key="url">mySqlUrl</prop>
            <prop key="userName">root</prop>
            <prop key="password">password</prop>
        </props>
    </property>
</bean>

</beans>