<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="driver" class="com.vishal.ioc.model.Driver">
        <property name="properties">
            <props>
                <prop key="driverClass">com.mysql.jdbc.Driver</prop>
                <prop key="url">mySqlUrl</prop>
                <prop key="userName">root</prop>
                <prop key="password">password</prop>
            </props>
        </property>
    </bean>-->

    <!-- <bean id="driver" class="com.vishal.ioc.model.Driver">
         <property name="properties">
             <util:properties location="db.properties"/>
         </property>
     </bean>-->

    <bean id="engine" class="com.vishal.ioc.model.Engine">
        <constructor-arg value="2026"/>
    </bean>

    <bean id="car" class="com.vishal.ioc.model.Car">
        <property name="carName" value="Tata Punch"/>
     <!--   <property name="engine" ref="engine"/>-->
        <constructor-arg ref="engine"/>
    </bean>

    <bean id="a" class="com.vishal.ioc.model.A" depends-on="b"/>
    <bean id="b" class="com.vishal.ioc.model.B" depends-on="c"/>
    <bean id="c" class="com.vishal.ioc.model.C"/>


</beans>